h1 {
  font-size: 36px;
  color: 00000;
  text-align: center;
}

.bar {
  transition: all 0.3s ease;
}

.bar:hover {
  fill: 00000;
}
.game-name {
  font-size: 12px;
  fill: #000;
}

/* Style for the container div */
.histogram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px; /* Set a specific width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

/* Style for the range input (scrollbar) */
.histogram-container input[type="range"] {
  width: 20px; /* Match the width of the container */
  margin: 10px 0;
}

/* Style for the SVG container */
.histogram-container svg {
  margin: 20px;
}

/* Style for the game names above the bars */
.game-name {
  font-size: 12px;
  fill: #000;
}

/* Style for the bars */
.bar {
  transition: all 0.3s ease;
}

.bar:hover {
  fill: #ffffff;
  filter: drop-shadow(0 0 5px #ff0000) drop-shadow(0 0 10px #ff0000)
    drop-shadow(0 0 20px #ff0000) drop-shadow(0 0 40px #ff0000)
    drop-shadow(0 0 80px #ff0000);
}

/* Style for the range input (scrollbar) */
.histogram-container input[type="range"] {
  width: 100%;
  margin: 10px 0;
}
